/* 
Ez a CSS kód a hangszerboltos feladatunkhoz tartozik. 
Arra szolgál, hogy egy más által írt, ismeret kódban 
megkeressünk biznyos információkat, és megpróbáljuk 
a saját színeinkre átalakítani. Ezért olyan jellemzők
is vannak benne, amelyekről még nem tanultunk.

Kipróbálhatod egyéb, saját munkákban is ezeket a
jellemzőket, ha kedved tartja, de kérlek, hogy vedd
figyelembe: ezek egy részét még nem tanultuk, van,
amelyik elsőre nem is könnyen érthető, tehát, ha nem
érted, az nem a véletlen műve. :-)

A cél tehát nem az, hogy értsd ezeknek a jellemzőknek
a lényegét, hanem hogy olyan kódban dolgozz, amely
számodra ismeretlen jellemzőket is tartalmaz.

A következő leckében sorravesszük ezeket a jellemzőket,
és minden titokra fény derül.
*/

* {
	margin: 0;
}

body {
	background: #1997D2;
	color: white;
	font-family: sans-serif;
}

header {
	background: #036084;
	height: 120px;
	padding: 40px;
}

h1 {
	font-size: 3em;
}

nav {
	background: #E5CF00;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;	
	font-weight: bold;
	height: 30px;
	padding-top: 5px;
	text-align: right;
	vertical-align: center;
	width: 100%;
}

aside {
	background: #036084;
	float: left;
	font-weight: bold;
	height: auto;
	text-align: left;
	width: 15%;
}

article {
	background: #1997D2;
	border-left: 1px solid #333333;
	float: right;
	font-weight: bold;
	height: auto;
	text-align: left;
	width: 80%;
}

section {
	background: #036084;
	border: 1px solid #333333;
	margin: 30px;
	padding: 30px;
}

h2 {
	font-size: 2em;
	padding-left: 30px;
	padding-top: 30px;
}

p {
	padding: 0px 0px 30px 0px;
}

footer {
	background: #036084;
	border: 1px solid #333333;
	clear: both;
	font-weight: bold;
	height: 80px;
	padding-top: 30px;
	text-align: center;
	width: 100%;
}
